*{
    margin:0 ;
    padding: 0;
}

header{
background-color:rgb(14, 100, 25);
display: flex;
align-items:center;
justify-content:space-between;
padding: 10px ;
}

section{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    margin: 10px 0;
    padding: 10px 20px;
}
div{
    padding: 30px;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}
.listamenu{
    display: none;
     position: absolute;
     list-style-type: none;
     
     
 }
 .botao{
    display: none;
}
.botao:checked~.listamenu{
    display: block;
    
}

.listamenutitulo,
.listamenuitem {
    padding: 1em;
    background-color:  rgb(231, 229, 229, 0.849);
    
}